openapi: 3.0.3
info:
  title: MANI-APIGateway — Identidad y Registro de Aliado (Core)
  description: >
    Contrato OpenAPI entre MANI-APIGateway y MANI-Node (Core) para el dominio
    de identidad: autenticación y registro de aliado persona natural. Vive en
    este repositorio (CFG-16) porque el Gateway es el límite público del
    contrato; MANI-Node lo implementa pero no lo posee.


    ## Propagación del claim de tenant

    MANI es multi-tenant: cada petición debe resolverse en el contexto de un
    tenant (organización) específico, y el Core nunca puede confiar en un
    valor de tenant que un cliente final pueda falsificar.

    1. **Pre-autenticación** (`POST /auth/login`, `POST /auth/register/ally`):
       el llamador todavía no tiene un JWT. Conforme a ADR-0018, el tenant se identifica
       con el header `X-Tenant-Slug` (slug público del tenant, ej. `trama-demo`),
       descartando el uso de IDs internos confiados por el backend para evitar spoofing.
       El Core responde `400 TENANT_NOT_FOUND` si el tenant no existe o está
       inactivo.
    2. **Emisión del claim**: si el login o el registro son exitosos, Supabase
       Auth emite un `accessToken` (JWT) cuyo payload incluye, bajo
       `app_metadata`, el claim `tenant_id` con el id del tenant resuelto en
       el paso anterior (ver `TokenClaims`; el Custom Access Token Hook de
       Supabase, CFG-12, es quien lo puebla). Ese mismo id se refleja en
       `ProfileSummary.tenantId` en la respuesta.
    3. **Post-autenticación** (`POST /auth/refresh`, `POST /auth/logout`, y
       en general cualquier endpoint protegido con `bearerAuth`): el tenant
       se deriva **exclusivamente** del claim dentro del JWT ya verificado.
       El Core ignora cualquier header `X-Tenant-Id` enviado en estas
       llamadas — aceptarlo permitiría a un cliente autenticado en el tenant
       A leer/escribir datos del tenant B con solo cambiar un header.

    Esta regla (tenant por header solo pre-auth; tenant por claim de JWT ya
    autenticado) es la que deben implementar tanto el Gateway como el Core.
  version: 0.3.0
servers:
  - url: https://api.mani.app/api/v1/core
    description: Producción, vía MANI-APIGateway
  - url: http://localhost/api/v1/core
    description: Gateway local (docker compose up -d gateway core-service)

tags:
  - name: Auth
    description: Autenticación e identidad de usuarios (Clientes, Aliados, Admins)
  - name: Ally Registration
    description: Registro de Aliados persona natural

paths:
  /auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Inicia sesión y obtiene tokens de acceso
      description: >
        Autentica un usuario (CLIENT, ALLY o ADMIN) dentro del tenant
        resuelto por `X-Tenant-Id` y devuelve un `accessToken`/`refreshToken`
        con el claim `tenant_id` embebido.
      parameters:
        - $ref: '#/components/parameters/XTenantSlug'
        - $ref: '#/components/parameters/XCorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Credenciales válidas, sesión iniciada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: >
            Body inválido (`VALIDATION_ERROR`) o tenant inexistente/inactivo
            (`TENANT_NOT_FOUND`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Credenciales incorrectas (`INVALID_CREDENTIALS`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshToken
      summary: Renueva el accessToken a partir de un refreshToken vigente
      description: >
        El tenant del nuevo accessToken se conserva del claim `tenant_id`
        del refreshToken original; este endpoint no acepta `X-Tenant-Id`.
      parameters:
        - $ref: '#/components/parameters/XCorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Token renovado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '400':
          description: Body inválido (`VALIDATION_ERROR`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: refreshToken inválido o expirado (`TOKEN_INVALID` / `TOKEN_EXPIRED`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Cierra la sesión actual e invalida el refreshToken asociado
      description: El tenant se deriva del claim `tenant_id` del accessToken; no acepta `X-Tenant-Id`.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/XCorrelationId'
      responses:
        '204':
          description: Sesión cerrada correctamente
        '401':
          description: accessToken ausente, inválido o expirado (`UNAUTHORIZED` / `TOKEN_INVALID` / `TOKEN_EXPIRED`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/register/ally:
    post:
      tags: [Ally Registration]
      operationId: registerAllyNaturalPerson
      summary: Registra un nuevo Aliado persona natural
      description: >
        Crea el usuario y el perfil de Aliado (rol ALLY) en estado PENDING,
        a la espera de verificación KYC, dentro del tenant resuelto por
        `X-Tenant-Slug` (ADR-0018). Acepta `multipart/form-data` porque el registro
        incluye la subida de documentos KYC (cédula obligatoria, otros
        opcionales); el campo de cada archivo es su tipo de documento en
        minúsculas (p. ej. `cedula_ciudadania`). Devuelve tokens de sesión
        (con el claim `tenant_id` ya embebido) para que el Aliado pueda
        continuar el flujo de onboarding inmediatamente.
      parameters:
        - $ref: '#/components/parameters/XTenantSlug'
        - $ref: '#/components/parameters/XCorrelationId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RegisterAllyNaturalPersonRequest'
            encoding:
              cedula_ciudadania:
                contentType: application/pdf, image/png, image/jpeg
      responses:
        '201':
          description: Aliado registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAllyResponse'
        '400':
          description: >
            Body inválido (`VALIDATION_ERROR`), tenant inexistente/inactivo
            (`TENANT_NOT_FOUND`) o categoría inexistente/inactiva
            (`CATEGORY_NOT_FOUND`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: >
            Ya existe un usuario del tenant con ese email
            (`EMAIL_ALREADY_REGISTERED`) o, si se envió `documentNumber`, ya
            existe un aliado con ese número de documento
            (`DOCUMENT_ALREADY_REGISTERED`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        El Core verifica la firma y extrae userId (`sub`) y, de
        `app_metadata`, `tenant_id` y `user_role`. Ver `TokenClaims`.

  parameters:
    XTenantSlug:
      name: X-Tenant-Slug
      in: header
      required: true
      description: >
        Slug público del tenant (ADR-0018). Usado en endpoints pre-autenticación
        para resolver la organización sin confiar en IDs internos.
      schema:
        type: string
        example: plomeria-express
    XCorrelationId:
      name: X-Correlation-ID
      in: header
      required: false
      description: >
        Id de trazabilidad distribuida propagado desde el Gateway. Si no se
        envía, el Core genera uno (`node-<timestamp>`) y lo devuelve en el
        header de respuesta y en el body de error.
      schema:
        type: string

  responses:
    InternalError:
      description: Error interno del servicio (`INTERNAL_ERROR`)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorCode:
      type: string
      description: Catálogo cerrado de códigos de error del dominio de identidad.
      enum:
        - VALIDATION_ERROR
        - INVALID_CREDENTIALS
        - UNAUTHORIZED
        - TOKEN_INVALID
        - TOKEN_EXPIRED
        - TENANT_NOT_FOUND
        - CATEGORY_NOT_FOUND
        - EMAIL_ALREADY_REGISTERED
        - DOCUMENT_ALREADY_REGISTERED
        - INTERNAL_ERROR
      x-code-meanings:
        VALIDATION_ERROR: 'HTTP 400 — el body no cumple el esquema (campo faltante/formato inválido).'
        INVALID_CREDENTIALS: 'HTTP 401 — email y/o password no coinciden con ningún usuario del tenant.'
        UNAUTHORIZED: 'HTTP 401 — falta el header Authorization en un endpoint protegido.'
        TOKEN_INVALID: 'HTTP 401 — el JWT no tiene un formato o firma válidos.'
        TOKEN_EXPIRED: 'HTTP 401 — el JWT es válido pero ya expiró.'
        TENANT_NOT_FOUND: 'HTTP 400 — X-Tenant-Id no corresponde a un tenant existente/activo.'
        CATEGORY_NOT_FOUND: 'HTTP 400 — categoriaId no corresponde a una categoría existente/activa del tenant.'
        EMAIL_ALREADY_REGISTERED: 'HTTP 409 — ya existe un usuario con ese email en el tenant.'
        DOCUMENT_ALREADY_REGISTERED: 'HTTP 409 — se envió documentNumber y ya existe un Aliado con ese número en el tenant.'
        INTERNAL_ERROR: 'HTTP 500 — fallo no controlado del servicio.'

    ErrorResponse:
      type: object
      description: Formato estándar de error de todo el Core (ver MANI-Node/src/middlewares/errorHandler.middleware.js).
      properties:
        error:
          type: string
          description: Mensaje legible, seguro para mostrar al usuario final.
          example: Credenciales inválidas
        code:
          $ref: '#/components/schemas/ErrorCode'
        correlationId:
          type: string
          example: node-1791318617328
      required: [error, correlationId]

    TokenClaims:
      type: object
      description: >
        Forma del payload del JWT emitido por Supabase Auth al llamar
        `/auth/login` y `/auth/register/ally`. No es un objeto que viaje
        serializado en un response body — documenta el contenido de
        `AuthTokens.accessToken` una vez decodificado. `tenant_id`/`user_role`
        los puebla el Custom Access Token Hook (CFG-12) leyendo la fila de
        `public.usuario`; por eso están anidados en `app_metadata`, no en la
        raíz del token, y `user_role` llega en español minúscula
        ('aliado' | 'cliente' | 'admin_tenant').
      properties:
        sub:
          type: string
          description: userId del usuario autenticado (= auth.users.id = usuario.id).
        app_metadata:
          type: object
          properties:
            tenant_id:
              type: string
              description: Id del tenant al que pertenece el usuario. Propagado en cada request subsecuente.
            user_role:
              type: string
              enum: [aliado, cliente, admin_tenant]
          required: [tenant_id, user_role]
        iat:
          type: integer
          description: Unix timestamp de emisión.
        exp:
          type: integer
          description: Unix timestamp de expiración.
      required: [sub, app_metadata, iat, exp]

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
      required: [email, password]

    RefreshRequest:
      type: object
      properties:
        refreshToken:
          type: string
      required: [refreshToken]

    AuthTokens:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT de corta duración emitido por Supabase Auth. Payload descrito en `TokenClaims`.
        refreshToken:
          type: string
          description: Token opaco de larga duración, usado solo contra `/auth/refresh` y `/auth/logout`.
        expiresIn:
          type: integer
          description: Segundos hasta la expiración del accessToken
          example: 3600
      required: [accessToken, refreshToken, expiresIn]

    RefreshResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresIn:
          type: integer
          example: 3600
      required: [accessToken, expiresIn]

    ProfileSummary:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
          description: Refleja el claim app_metadata.tenant_id del JWT emitido para este perfil.
          example: trama-demo
        role:
          type: string
          enum: [CLIENT, ALLY, ADMIN]
        fullName:
          type: string
        status:
          type: string
          enum: [VERIFIED, PENDING, REJECTED]
      required: [id, tenantId, role, fullName, status]

    LoginResponse:
      type: object
      properties:
        profile:
          $ref: '#/components/schemas/ProfileSummary'
        tokens:
          $ref: '#/components/schemas/AuthTokens'
      required: [profile, tokens]

    RegisterAllyNaturalPersonRequest:
      type: object
      description: >
        Datos de registro para un Aliado persona natural. El tenant se toma
        del header `X-Tenant-Slug` (ADR-0018), no del body. documentType/documentNumber
        son opcionales (el formulario actual de Flutter no los recolecta
        todavía; cuando los envíe, se validan y se usan para la verificación
        de duplicados).
      properties:
        fullName:
          type: string
          example: María Fernanda Rojas
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        phone:
          type: string
          example: '+573001234567'
        categoriaId:
          type: string
          description: Id de categoria_servicio (debe existir y estar ACTIVO en el tenant).
        documentType:
          type: string
          enum: [CC, CE, PASSPORT]
          description: Tipo de documento de identidad (persona natural). Opcional.
        documentNumber:
          type: string
          example: '1020304050'
          description: Opcional; si se envía, se valida unicidad por tenant.
        cedula_ciudadania:
          type: string
          format: binary
          description: Documento KYC obligatorio (cédula). Al menos un archivo es requerido.
        rut_certificado:
          type: string
          format: binary
          description: Documento KYC opcional (RUT/certificado).
      required:
        - fullName
        - email
        - password
        - categoriaId
        - cedula_ciudadania

    RegisterAllyResponse:
      type: object
      properties:
        profile:
          $ref: '#/components/schemas/ProfileSummary'
        tokens:
          $ref: '#/components/schemas/AuthTokens'
      required: [profile, tokens]
